Excellent üöÄ ‚Äî now that we have all three tables:

### **Tables Summary**

**1. Customers**

| customer_id | first_name | last_name | age | country |
| ----------- | ---------- | --------- | --- | ------- |
| 1           | John       | Doe       | 31  | USA     |
| 2           | Robert     | Luna      | 22  | USA     |
| 3           | David      | Robinson  | 22  | UK      |
| 4           | John       | Reinhardt | 25  | UK      |
| 5           | Betty      | Doe       | 28  | UAE     |

**2. Orders**

| order_id | item     | amount | customer_id |
| -------- | -------- | ------ | ----------- |
| 1        | Keyboard | 400    | 4           |
| 2        | Mouse    | 300    | 4           |
| 3        | Monitor  | 12000  | 3           |
| 4        | Keyboard | 400    | 1           |
| 5        | Mousepad | 250    | 2           |

**3. Shippings**

| shipping_id | status    | customer_id |
| ----------- | --------- | ----------- |
| 1           | Pending   | 2           |
| 2           | Pending   | 4           |
| 3           | Delivered | 3           |
| 4           | Pending   | 5           |
| 5           | Delivered | 1           |

---

### üî• **25 Practical SQL Query Questions**

#### üß© **Basic Queries**

1. Retrieve all customer names and their countries.
2. Display all customers who are from the **UK**.
3. List all orders with an amount greater than **500**.
4. Show all shipping records that have a status of **‚ÄòPending‚Äô**.
5. Get a list of unique countries from which customers are registered.

---

#### üîó **Joins (Customers + Orders + Shippings)**

6. Display each customer‚Äôs name along with the item(s) they ordered.
7. Show all orders along with the customer‚Äôs country.
8. Get the order details along with their **shipping status**.
9. Retrieve all customers who have placed an order **and** have a shipping record.
10. Show all customers who **have not placed any order** (use `LEFT JOIN`).

---

#### üìä **Aggregations**

11. Find the **total amount spent** by each customer.
12. Get the **average order amount** for customers from the **UK**.
13. Count the number of **orders per customer**.
14. Find the **maximum order amount** and the customer who made it.
15. Get the **total revenue** (sum of all order amounts).

---

#### üîç **Filtering with Aggregates**

16. Show customers who have spent **more than 500** in total.
17. List all countries where the **average customer age** is greater than 25.
18. Find customers who have placed **more than one order**.
19. Display customers who have **‚ÄòPending‚Äô** shipments and have made **at least one order**.
20. Show the **top 2 customers** based on total spending.

---

#### üß† **Subqueries**

21. Find customers who have placed an order with an amount **above the average order amount**.
22. Get the details of customers whose **shipping status** is the same as **customer_id = 2**.
23. Display the customer who made the **most expensive order** (using subquery).
24. Find all customers who have **no Delivered shipments**.
25. Retrieve customers who ordered **either ‚ÄòKeyboard‚Äô or ‚ÄòMouse‚Äô**, and have **Pending shipments**.

---

Would you like me to include the **SQL query answers** for these 25 questions too (e.g., actual `SELECT` statements)?
I can make them beginner-friendly or advanced (with window functions, CTEs, etc.) depending on your preference.

<h1>Basic Queries Answers:

In [ ]:
select first_name,last_name,country from Customers;
select first_name,last_name,country from Customers where country= "UK";
select * from Orders where amount > 500;
select * from Shippings where status = 'Pending';
select distinct country from Customers;

<H1>Joins Answers:

In [ ]:
select c.customer_id,c.first_name , c.last_name,o.item from Customers c inner join Orders o on c.customer_id = o.customer_id;
select o.customer_id,o.order_id,c.country from Orders o left join Customers c on c.customer_id = o.customer_id;
select o.order_id,o.customer_id,o.item,o.amount,s.status from Orders o left join Shippings s
on o.customer_id = s.customer;
select distinct c.*,o.order_id,s.shipping_id from 
Customers c inner join Orders o
on c.customer_id = o.customer_id 
inner join Shippings s 
on c.customer_id = s.customer;
select c.* from Customers c left join Orders o on c.Customer_id = o.customer_id where o.order_id is null;

<H1>Aggregations Answers:

In [ ]:
select customer_id,sum(amount) as Total_Amount_Spent from Orders group by customer_id;

select avg(o.amount) as avg_amount,c.country from Orders o join Customers c on 
o.customer_id = c.customer_id where c.country = "UK";

select customer_id,count(order_id) as total_orders from Orders group by customer_id;

select customer_id,max(amount) as Max_order from Orders;

select sum(amount) as Total_Revenue from Orders;

<H1>Filtering With Aggregates Answers:

In [ ]:
select * from Orders where amount > 500;

select country, avg(age) as avg_age from Customers group by country having avg(age) > 25 ;

select customer_id, count(order_id) as total_orders from Orders group by customer_id having 
count(order_id) > 1;

select * from Shippings where status = "Pending" ;

select c.*,sum(o.amount) as total_spending from Customers c inner join Orders o 
on c.customer_id = o.customer_id group by c.customer_id order by total_spending desc limit 2;

<h1> Subqueries Answers :

In [ ]:

select distinct c.*,o.amount from Customers c inner join  Orders o on c.customer_id = o.customer_id where o.amount > (select avg(amount) from Orders);

select distinct c.*,s.status from Customers c inner join  Shippings s on c.customer_id = s.customer where s.status =  (select status from Shippings where customer = 2);


select distinct c.*,o.amount from Customers c inner join  Orders o on c.customer_id = o.customer_id where o.amount = (select max(amount) from Orders);

select distinct c.*,s.status from Customers c inner join  Shippings s on c.customer_id = s.customer where c.customer_id Not in (select customer from Shippings where status = "Delivered");

select c.*,o.item ,s.status 
from Customers c
inner join Orders o on c.customer_id = o.customer_id
inner join Shippings s on c.customer_id = s.customer
where (o.item in ("Keyboard", "Mouse") and s.status = "Pending");

üß© Basic Queries

Retrieve all customers whose age is between 20 and 30.

Find customers whose first name starts with ‚ÄòJ‚Äô.

Display all orders sorted by amount in descending order.

Show all items purchased excluding Mouse and Keyboard.

Get all customers who are not from USA or UK.

üîó Joins

Show each customer along with the total number of items they ordered (count orders per customer using join).

List all customers who have shipping records but no orders.

Display customers who ordered items priced exactly 400 or 300, along with their shipping status.

Get customers along with their orders even if they don‚Äôt have shipping records (RIGHT or FULL join pattern).

Retrieve the list of items ordered by customers from UAE only.

üìä Aggregations + Groups

Find the minimum order amount for each customer.

List the average age of customers per country, sorted by highest age first.

Get customers whose total spending is BELOW the overall average spending.

Find items that were ordered more than once.

Show the percentage contribution of each customer's total spending toward overall revenue.

üîç Filtering with Aggregates

Show customers who have exactly 1 order.

List countries that have fewer than 2 customers.

Display customers whose highest order amount is greater than twice their lowest order amount.

Retrieve customers for whom every shipping record is Pending (no Delivered).

Show customers whose order count is higher than the average order count.

üß† Subqueries / Nested Queries

Retrieve customers whose age is above the average age of all customers in their country.

Display customers who purchased an item that is also purchased by customer_id = 1.

Find customers who have never purchased any item purchased by UK customers.

Get customers whose total spending is greater than the maximum single order amount.

Retrieve all customers who have shipments but their order amount is below the average order amount of their own country.

<H1>Basic Queries Answer:

In [ ]:
select * from Customers where age between 20 and 30;

select * from Customers where first_name like "J%";

select * from Orders order by amount desc;

select * from Orders where item Not in ("Mouse","Keyboard");

select * from Customers where country Not in ("USA","UK");

<h1>Joins Answer:

In [ ]:
select * , count(order_id) as total_orders from Orders group by customer_id;

select * from Shippings s left join Orders o on s.customer = o.customer_id where order_id is null;

select c.*,o.amount,s.status from Customers c 
inner join Orders o 
on c.customer_id = o.customer_id
inner join Shippings s
on c.customer_id = s.customer
where o.amount in (300,400);

select c.*,o.*,s.status from
Customers c 
left join Orders o on c.customer_id = o.customer_id
left join Shippings s on c.customer_id = s.customer;

select c.*,o.item from Customers c 
left join Orders o on c.customer_id = o.customer_id where c.country = "UAE";

<h1> Aggregations + Groups

In [ ]:
select customer_id,min(amount) as min_order_per_customer from Orders group by customer_id;

select country,avg(age) as avg_age from Customers group by country order by avg_age desc;



select c.*, sum(o.amount) as total_spending from Customers c inner join Orders o on c.customer_id = o.customer_id group by c.customer_id having 
sum(o.amount) < ( SELECT AVG(t.customer_total)
FROM ( SELECT SUM(amount) AS customer_total FROM Orders GROUP BY customer_id) AS t);
                 
select item,count(item) as total_orders from Orders group by item having total_orders > 1;
                 

select c.customer_id,c.first_name, sum(o.amount) as total_spending ,
round((sum(o.amount)*100.0) / (select sum(amount) from Orders),2) as percentage_contribution from Customers c inner join Orders o on c.customer_id = o.customer_id group  by c.customer_id;

<h1> Filtering with Aggregates

In [ ]:
select c.*,count(o.customer_id) as total_orders_by_customer
from Customers c inner join Orders o on 
c.customer_id = o.customer_id group by o.customer_id having total_orders_by_customer = 1;

select country,count(customer_id) as customers_from_country from Customers group by country having customers_from_country < 2 ;


select customer_id,max(amount) as max_amount,min(amount) as min_amount from Orders group by customer_id having max(amount) > (min(amount) * 2);

select c.* , s.status from Customers c inner join Shippings s on c.customer_id = s.customer
where s.status = "Pending";


SELECT c.*, COUNT(o.order_id) AS total_orders_by_customer
FROM Customers c 
INNER JOIN Orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id
HAVING COUNT(o.order_id) > (
    SELECT AVG(t.order_count)
    FROM (
        SELECT COUNT(order_id) AS order_count
        FROM Orders
        GROUP BY customer_id
    ) AS t
);

<h1> Subqueries / Nested Queries

In [ ]:

select *,avg(age) from Customers group by country  having age > avg(age);

select c.*,o.item from Customers c inner join Orders o on c.customer_id = o.customer_id
where o.item in  (select item from Orders where customer_id = 1);

 
 select c.* from Customers c where c.customer_id Not in
 (select o.customer_id from Orders o inner join Customers cu on o.customer_id = cu.customer_id where o.item in 
  ( select o2.item from Orders o2 inner join Customers c2 on o2.customer_id = c2.customer_id where c2.country  = "UK")
 );
 
select c.*,sum(o.amount) as total_spending from Customers c join Orders o on c.customer_id = o.customer_id 
group by c.customer_id having sum(o.amount) > (select max(amount) from Orders);

select c.*,s.shipping_id,sum(o.amount) from Customers c 
join Shippings s on c.customer_id = s.customer 
join Orders o on c.customer_id = o.customer_id 
group by c.customer_id having sum(o.amount) < 
(select avg(o2.amount) from Orders o2 inner join Customers c2 on
 c2.customer_id = o2.customer_id where c2.country = c.country);